name: auto assign pull request to author

on:
    pull_request:
        types:
            - opened

jobs:
    auto_assign_pull_request_to_author:
        runs-on: ubuntu-latest
        steps:
            - uses: NaverPayDev/actions/pr/auto-assign-pull-request-to-author-action@main
              with:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
