name: dismiss approval review without comment

on:
    pull_request_review:
        types:
            - submitted

jobs:
    dismiss_approval_review_without_comment:
        runs-on: ubuntu-latest
        steps:
            - uses: NaverPayDev/actions/pr/require-approval-comment-action@main
              with:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
