name: request-issue-attribute-action

on:
    issues:
        types:
            - opened

jobs:
    request_issue_attribute:
        runs-on: ubuntu-latest
        steps:
            - uses: NaverPayDev/actions/issue/request-issue-attribute-action@main
              with:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  CHECK_ASSIGNEE: true
                  CHECK_LABEL: true
                  CHECK_MILESTONE: false
